body{
    font-family: 'Poppins', 'Lato', sans-serif;
    padding-top: 70px; 
}
.searchOutline
{
    width:100%;
    margin-top:0px;
    border:2px solid rgba(255,165,0,0.43);
    box-shadow:0px 0px 25px rgb(0 0 0 / 10%);
    position:relative;
    margin-bottom:20px;
    padding:10px 30px 10px 40px;
    background:#fff;
    
}

.innerDiv
{
    font-size: 16px;
    text-align: right;
}

.sharingButton
{
    padding: 3px 6px;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
    color:black;
}

.sharingButton fa 
{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.headTitle
{
    font-family: 'Poppins', 'Lato', sans-serif;
    font-size: 1.4rem !important;
    color: #004358;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    text-align: left;
    margin: 0px 0px 10px 0px;
    font-weight: normal;
}

#basic-addon3
{
    background: #eef1f3;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
}

.tagDomain 
{
   margin-top: 3px !important;
    text-align: left; 
}

.tagDomain h3
{
    font-family: 'Poppins', 'Lato', sans-serif;
    color: #949494;
    font-size: 12px !important;
    font-weight: normal;
    margin-bottom: 8px;
}

.input-group-text
{
    margin-bottom: 4px !important;
}

.label
{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: #4BCAFF;
    margin:2px;
}

.answerDiv
{
    word-break: break-word;
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-bottom: 5px;
}

.expertInfo
{
    padding:10px;
}
.userInfo
{
    margin-left: 3px;
    margin-top: 0px;
}

img
{
    width:40px;
    height:40px;
    float: left;
    border-radius: 50%;
}

.userName
{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins', 'Lato', sans-serif;
    float:left;
}

.userScore
{
    
}

.tagsinQue h3
{
    font-family: 'Poppins', 'Lato', sans-serif;
    color: #949494;
    font-size: 12px !important;
    font-weight: normal;
    margin-bottom: 8px;
    float: left;
    margin-left: 2px;
    margin-top: 4px;
}

.tagLabel
{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.tagsinQue span
{
    background-color: #aaa;
    font-weight: 400;
    margin:1.2px;
}

.answeredInfo span
{
     float: left;
    color: #949494;
    font-size: 12px;
    font-family: 'Poppins', 'Lato', sans-serif;
    padding:3px;
    font-weight:normal;
}

 .paste span
{
    float: right;
    color: #777;
}

.sharingButton, .heartButton
{
    color: #D3D3D3;
    font-size: 16px;
    font-weight: 100;
}

.reqImg
{
    width: 40px;
    height:25px;
}

.answerBlock p
{
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
}

.updateIconimg
{
    height:26px;
}

.viewCount, .viewScore
{
    border-bottom: 1px dotted #ddd;
    float:left;
    color:gray;
    font-size: 14px;
    font-weight:500;
    padding:3px;
    font-family: 'Poppins',sans-serif;
}
#pasteIcon
{
    font-size: 20px !important;
}

.ratingTitle
{
    color: #949494;
    font-size: 12px;
    margin-left: -20px;
    font-family:'Poppins', sans-serif;
}

.ratingStars
{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
}

.ratingStars li
{
    color:#FFE11A;
    display: inline-block;
    font-size:12px;
    padding: 2px;
}

.answerBlock p 
{
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.helpfulButton
{
    margin-left: 10px;
    vertical-align: 2px;
    padding: 2px 5px 7px 5px;
    background: #f4f4f4;
    border-radius: 2px;
    border: 1px solid #ececec;
    height: 35px;
    float:right;
}

.helpfulButton span
{
    font-weight: bold;
    color: #4f6384;
    padding:5px;
}

.helpfulButton img
{
    width: 20px;
    height:20px;
    float:right;
    margin-top:3px;
}

.additionalCont
{
    font-family: 'Poppins',sans-serif;
    font-size: 14px !important;
}

a.brandImg img 
{
    width:118px;
    height:35px;
    margin-bottom: 15px;
}
.navigationBar
{
    margin-bottom: 0;
}
.navigationBar li
{
    color:#075491;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    margin-bottom: -15px;
}

.navigationBar a
{
    font-weight: 600;
    margin:0;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #075491;
}

nav {
    box-shadow: 0px 5px 50px rgb(0 0 0 / 10%);
    border: 0px;
    background-color: #fff;
    padding-top:0px;
    padding-bottom: 0px;
}


.containerNav
{
margin-left:15px;
padding-left: 15px;
width: 100%;
}

.fireIcon > i
{
font-size: 26px;
padding-right:2px;
line-height: 1;
color: #fd7400;
}

.fireIcon > span 
{
    display: inline;
    position: relative;
    bottom: 5px;
    color: #075491;
    font-weight: bold;
    padding: 0 3px;
    font-size: 15px;
}

.navigationBar > li > i
{
    font-size: 16px;
}

.dropNotification > i
{
    font-size: 22px;
    cursor: pointer;
    position: relative
} 

.dropNotification
{
    color:#b4c6cc;
}