body{
    font-family: 'Poppins', 'Lato', sans-serif;
}
.searchOutline
{
    width:100%;
    margin-top:0px;
    border:2px solid rgba(255,165,0,0.43);
    box-shadow:0px 0px 25px rgb(0 0 0 / 10%);
    position:relative;
    margin-bottom:20px;
    padding:10px 30px 10px 40px;
    background:#fff;
    
}

.innerDiv
{
    font-size: 16px;
    text-align: right;
}

.sharingButton
{
    padding: 3px 6px;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
    color:black;
}

.sharingButton fa 
{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.headTitle
{
    font-family: 'Poppins', 'Lato', sans-serif;
    font-size: 1.3rem !important;
    color: #004358 !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    text-align: left;
    margin: 0px 0px 10px 0px;
    font-weight: normal;
}

#basic-addon3
{
    background: #eef1f3;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
}

.tagDomain 
{
   margin-top: 3px !important;
    text-align: left; 
}

.tagDomain h3
{
    font-family: 'Poppins', 'Lato', sans-serif;
    color: #949494;
    font-size: 12px !important;
    font-weight: normal;
    margin-bottom: 8px;
}

.input-group-text
{
    margin-bottom: 4px !important;
}

.label
{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: #4BCAFF;
    margin:2px;
}

.answerDiv
{
    word-break: break-word;
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-bottom: 5px;
}

.expertInfo
{
    padding:10px;
}
.userInfo
{
    margin-left: 3px;
    margin-top: 0px;
}

img
{
    width:40px;
    height:40px;
    float: left;
    border-radius: 50%;
}

.userName
{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins', 'Lato', sans-serif;
    float:left;
}

.tagsinQue h3
{
    font-family: 'Poppins', 'Lato', sans-serif;
    color: #949494;
    font-size: 12px !important;
    font-weight: normal;
    margin-bottom: 8px;
    float: left;
    margin-left: 2px;
    margin-top: 4px;
}

.tagLabel
{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.tagsinQue span
{
    background-color: #aaa;
    font-weight: 400;
    margin:1.2px;
}

.answeredInfo span
{
     float: left;
    color: #949494;
    font-size: 12px;
    font-family: 'Poppins', 'Lato', sans-serif;
    padding:3px;
    font-weight:normal;
}

 .paste span
{
    float: right;
    color: #777;
}

.sharingButton, .heartButton
{
    color: #D3D3D3;
    font-size: 16px;
    font-weight: 100;
}

.reqImg
{
    width: 40px;
    height:25px;
}

.answerBlock p
{
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
}

.updateIconimg
{
    height:26px;
}

.viewCount, .viewScore
{
    border-bottom: 1px dotted #ddd;
    float:left;
    color:gray;
    font-size: 14px;
    font-weight:500;
    padding:3px;
    font-family: 'Poppins',sans-serif;
}
#pasteIcon
{
    font-size: 20px !important;
}

.ratingTitle
{
    color: #949494;
    font-size: 12px;
    margin-left: -20px;
    font-family:'Poppins', sans-serif;
}

.ratingStars
{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
}

.ratingStars li
{
    color:#FFE11A;
    display: inline-block;
    font-size:12px;
    padding: 2px;
}

.answerBlock p 
{
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.helpfulButton
{
    margin-left: 10px;
    vertical-align: 2px;
    padding: 2px 5px 7px 5px;
    background: #f4f4f4;
    border-radius: 2px;
    border: 1px solid #ececec;
    height: 35px;
    float:right;
}

.helpfulButton span
{
    font-weight: bold;
    color: #4f6384;
    padding:5px;
}

.helpfulButton img
{
    width: 20px;
    height:20px;
    float:right;
    margin-top:3px;
}

.additionalCont
{
    font-family: 'Poppins',sans-serif;
    font-size: 14px !important;
}

a.brandImg img 
{
    width:118px;
    height:35px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.navigationBar
{
    margin-bottom: 0;
    margin-left: auto !important;
}
.navigationBar li
{
    color:#075491;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    margin-bottom: -15px;
    padding:5px 8px;
    text-align: center;
}

.navigationBar a
{
    font-weight: 600;
    margin:0;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #075491;
}

nav {
    box-shadow: 0px 5px 50px rgb(0 0 0 / 10%);
    border: 0px;
    background-color: #fff;
    padding-top:0px !important;
    padding-bottom: 0px !important;
    height:52px;
}


.containerNav
{
margin-left:15px;
padding-left: 15px;
width: 100%;
}

.fireIcon > i
{
font-size: 26px;
padding-right:2px;
line-height: 1;
color: #fd7400;
}

.fireIcon > span 
{
    display: inline;
    position: relative;
    bottom: 5px;
    color: #075491;
    font-weight: bold;
    padding: 0 3px;
    font-size: 14px;
}

.fireIcon
{
    position: relative;
    top:-7px;
}

.navigationBar
{
    padding-bottom: 10px;
}
.navigationBar > li > i
{
    font-size: 16px;
}

.dropNotification > i
{
    font-size: 20px;
    cursor: pointer;
    position: relative
} 

.dropNotification
{
    color:#075491;
    position: relative;
    top:-10px;
}

.userinfo
{
    position:relative;
    top:10px;
    padding-left: 10px;
    padding-right:12px;
}

.userinfo h4
{
    margin: 0px 0;
    margin-bottom: -4px;
    font-size: 14px;
    font-weight:300;
    color:#004358;
    font-family: 'Poppins', 'Lato', sans-serif;
    padding: 0px 0px 0px 0px;
}

.userinfo span
{
    padding-left:6px;
    padding-right:5px;
    font-size: 14px;
}
.userinfo select
{
    width: 80px;
    margin-top: 10px;
    padding: 2px 4px;
    height: auto;
    -webkit-appearance: none;
    background-position: calc(100% - 4px) 50%;
    background-repeat: no-repeat;
    background-size: 13px 19px;
    border-bottom: none;
    border-radius: 3px 3px 0px 0px;
    box-shadow: none;
    position:relative;
    top: -12px;
    left: 5px;
}

.username > select
{
    width: 80px;
    margin-top: 0px;
    padding: 2px 4px;
    height: auto;
    -webkit-appearance: none;
    background-position: calc(100% - 4px) 50%;
    background-repeat: no-repeat;
    background-size: 13px 19px;
    border-bottom: none;
    border-radius: 3px 3px 0px 0px;
    box-shadow: none;
    position:relative;
    top: -2px;
    left: 5px;
    margin-right: 20px;
}

.username > span
{
    position: relative;
    left:-18px;
    font-size: 14px;
}

.navigationBar li:nth-child(1):hover, .navigationBar li:nth-child(2):hover, .navigationBar li:nth-child(3):hover
{
border-bottom: 2px solid #fd7400;
}

.dropdownmenu{
background-color: #fff;
max-width: 200px;
border: 0px;
margin-top: 20px;
-webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
border: 1px solid #CCC;
border-radius: 3px;
box-shadow: 0px 5px 50px rgb(0 0 0 / 10%);
}

.midcontainer
{
    padding-bottom: 0px;
    padding-top: 50px !important;
    min-height: 150px;
}

.buttonAns > input 
{
    font-family: 'Lato',sans-serif;
    width: 86%;
}


.buttonAns > span
{
    box-shadow: 1px 1px 2px rgb(0 0 0 / 40%);
    background: #00A5FB;
    color: white;
    border: none;
    font-size: 16px;
    line-height: 1.3333333;
    margin-left: -1px;
    padding: 8px 30px;
    border-radius: 0px 2px 2px 0px;
    float: right;
    min-width: 170px;
    margin-top: 10px;
    font-family: 'Poppins',sans-serif;
    position: relative;
    top:-48px;
}

.domains 
{
    margin-bottom: 0;
    color: #999;
    font-size: 14px
}

.characters
{
    color: #999;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
}

.charAt
{
    color: #999;
    font-size: 14px;
    font-weight: 700;
}

.searchbar
{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #eef0f2;
}

.TrendingText
{
    font-size: 20px;
    color: #075491;
    font-weight: bold;
    font-family: 'Poppins', 'Lato', sans-serif;
    line-height: 1.1;
}

.trendhead
{
    padding-top:10px;
}

#inputPassword2
{
    height: 27px;
    padding: 0px 5px;
    width: 180px;
    background: white !important;
    margin: 0px 10px !important;
    text-align: left;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    float: right;
}

#inputPassword2:focus
{
    outline: none;
}

#inputPassword2::placeholder
{
    text-align: left;
    padding-left: 25px;
}

.questionList
{
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    position: relative;
    margin-bottom: 20px;
    /* cursor: pointer; */
    padding: 10px 30px 10px 40px;
    overflow: auto;
    background: #fff;
    -webkit-transition: 0s !important;
    transition: 0s !important;
    overflow: hidden;
}

.questionList h2
{
    font-family: 'Poppins', 'Lato', sans-serif;
    font-size: 20px;
    color: var(--questionText_color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    margin: 0px 0px 10px 0pxu;
}

.form-control:focus
{
    outline: none;
}

#searchIcon
{
    position: relative;
    right: -80px;
    font-size: 14px;
    color:#616061;
}

.sortDropbox
{
    margin: 0px !important;
    width: 150px !important;
    height: 26px;
    color: #444444;
    font-size: 12px;
    padding: 0px 6px !important;
    display: inline-block;
    border-radius: 3px;
    background-color: white;
    box-shadow: none;
    border: 1px solid #ccc;
    font-family: 'Poppins',sans-serif;
    color: #444;

}

.sortDropbox:focus
{
    outline: none;
}

#sortBy
{
    width: 90px;
    max-width: 100%;
    display: inline-block;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
    text-align: right;
    padding-right: 3px;
}

#domain
{
    display: inline-block;
    width:90px;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
}

#dropdownMenuButton
{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.midBlock
{
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #00A5FB;
}

.contentVar
{
    top: 0px;
    left: 0px;
    word-break: break-word;
    overflow: hidden;
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
    max-height: 67px;
}

.fader
{
    margin-top: -5px;
    left: 0px;
    width: 100%;
    height: 50px;
    opacity: 0.99;
    background: -webkit-linear-gradient(bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.showMore > i 
{
    color: #00A5FB;
    display: inline-block;
    padding: 3px;
    text-align: center;
}

.showMore
{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    text-transform: lowercase;
    color: #00A5FB;
    display: inline-block;
    padding: 3px;
    text-align: center;
    font-size: 14px;
}

#dropdownbasic {
    background-color: transparent;
    color: #075491;
    font-size: 12px;
    outline: none;
    color: #075491;
    font-weight: 600;
    border: none;
} 

#dropdownbasic:focus 
{
outline: none !important;
}

.TrendingDropdown
{
background-color: #fff !important;
    max-width: 200px;
    border: 0px;
    margin-top: 2px;
    -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropdown-toggle::after
{
    display: none !important;
}

.loadMoreButton
{
background-color: #bedb39 !important;
    border-color: #bedb39;
    color: #fff;
    border-radius: 3px;
    margin: 0px 3px;
    width:100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    font-size: 14px;
    height:30px;
}

.iconCenter
{
    margin-left: auto !important;
    margin-right: auto !important;
}

.relatedQuestion
{
    color: #949494;
    font-size: 12px;
    margin-top: 0px !important;
}

.relatedCountNumber
{
    margin-right: 2px;
    background-color: green;
    cursor: pointer;
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.upvoteButton
{
    color: #bdbdbd;    
}

.upvoteButton > i
{
    cursor: pointer;
}
